body {
	margin: 0;
	overflow: hidden;
}

section {
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

svg.waves {
	color: var(--acc2);
	position: absolute;
	left: 0;
	bottom: 0;
	max-height: 400px;
	width: 100%;
}

.app {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

/* CSS specific to iOS devices */
@supports (-webkit-touch-callout: none) {
	.app {
		min-height: -webkit-fill-available;
	}
	svg.waves {
		bottom: 0;
	}
	@media screen and (orientation: landscape) and (max-height: 600px) {
		section {
			margin-top: 0;
		}
		svg.waves {
			display: none;
		}
	}
}
