svg.waves {
  color: var(--acc2);
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 400px;
  width: 100%;
}

/* CSS specific to iOS devices */
@supports (-webkit-touch-callout: none) {
  svg.waves {
    bottom: 0;
  }
  @media screen and (orientation: landscape) {
    svg.waves {
      display: none;
    }
  }
}
