/* CSS specific to iOS devices */
@supports (-webkit-touch-callout: none) {
	section {
		min-height: -webkit-fill-available;
	}
	svg {
		bottom: 0;
		margin-bottom: -7px;
	}
	@media screen and (orientation: landscape) and (max-height: 600px) {
		section {
			margin-top: 0;
		}
		svg {
			display: none;
		}
	}
}
